<!DOCTYPE html>
<html ng-app="app" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

    <script type="text/javascript">

        angular.module('app', []);

        angular.module('app').controller('MeuController', [
            '$scope',
            function($scope) {
                $scope.valor = 10;
                $scope.inc = function() {
                    $scope.valor++;
                }
            }
        ]);
    
    </script>

    <title>Fundamentos básicos para AngularJS</title>
</head>
<body>
    <div ng-controller="MeuController">
        <h1>{{ valor }}</h1>
        <input ng-model="valor" />
        <button ng-click="inc()">inc</button>
    </div>
</body>
</html>